.header__view {
  width: 100vw;
  height: 70vh;
}
.header__layout-flex{
  display: flex;
  flex-direction: row;
  height: 100%;
}
/* right */
.header__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header__info--card {
  width: 70%;
}
.header__info--hello {
  color: #4651E5;
  font-size: x-large;
  font-weight: 900;
  margin-top: 40px;
}
.header__info--name{
  font-size: 3.5rem;
  font-weight: 600;
}
.header__info--title{
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 15px;
}
/* .header__info--presentation{} */
.header__info--button{
  background-color: #4651E5;
  padding: 0.7rem;
  margin-top: 15px;
  color: white;
  border-radius: 5rem;
}
/* left */
.header__image-container {
  display: flex;
  align-items: flex-end;
}
.header__image-business {
  
  width: 24rem;
  object-fit: cover;
}
