.primary-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    color: black;
    background: transparent;
    transition: background-color 0.5s;
}

.logo{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    color: #000;
}


header .active {
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
header .active nav {
    height: 6rem;
}

header .active .logo,
header .active .nav-link {
    color: #313131;
}
header .active .nav-link:hover{
    color: #808080;
}
header .active .button {
    background-color: #313131;
    color: #fff;
}
header .active .button:hover {
    background-color: #151515;
}

@media only screen and (max-width: 920px) {
    .nav {
      flex-direction: column;
      height: auto;
    }
  
    div:nth-child(2) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    div:nth-child(2) > div {
      display: none;
    }
  
    div:nth-child(3) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  
    div:nth-child(3) > button {
      display: block;
      background-color: white;
      padding: 10px 20px;
      color: black;
      border-radius: 5px;
      border: none;
    }
  }